<ion-header>
  <ion-toolbar>   
  <ion-buttons>
  <ion-menu-button></ion-menu-button>
  <ion-title>Member List</ion-title>
 
 
  </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-title>Welcome to the IONICTEAM</ion-title>
  </ion-toolbar>
  <br>
  <ion-card>
    <img src="assets/images/wallpaper_mikael_gustafsson.png"/>
    <ion-card-content>
      <ion-card-title>
       Tjarda Voorn
      </ion-card-title>
      <p>
        Student of Informatic @Hogeschool Rotterdam.
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
<br>
  <ion-card>
    <img src="assets/images/profiel1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Frank Tjok Pak Joe
      </ion-card-title>
      <p>
        My name is Frank Tjok Pak Joe, Informatics student at the Hogeschool Rotterdam. I always strive to achieve the highest standard possible, at any given task and in any situation. I am accustomed to working in a challenging environment, particularly when dealing with multiple projects and priorities at the same time. Previous experiences in webdevelopment using Laravel, NodeJS, Angular. I also focus on full-stack development, in combination of front- and backend development.
      </p>    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
  <ion-card>
    <img src="assets/images/Thomas.jpeg"/>
    <ion-card-content>
      <ion-card-title>
        Thomas de Graaf
      </ion-card-title>
      <p>
        My name is Thomas, I am a 4th year Informatics student at the Hogeschool Rotterdam. Previously I have worked on several web applications, including my internship assignment to make a web application for Xylem located in Dordrecht. A few of my other projects include a VR application for the Microsoft Hololens made in Unity, and a webshop made as a school project. At my internship I mostly worked with C#, HTML, CSS, and the Javascript framework Vue.
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
