<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title><img class="title-image" alt="logo" height="100" src="/assets/images/logo.png" >Search Product </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <!-- <ion-list>
    <ion-item>
      <ion-label fixed>Product ID</ion-label>
      <ion-input type="text" [(ngModel)]="ProductId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-input type="text" [(ngModel)]="Description"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="createProject(ProductId, Description)">
    Create Product
  </button>

  <p>
    The product's name is {{ myProject.ProductId }} {{ myProject.Description }}
  </p>-->
  <!--<pre>{{userDoc | json | async}}</pre>
  <ion-button fill="outline" color="success" size="small" (click)="getProduct()">Product</ion-button>-->
  <ion-searchbar (ionInput)="getProducts($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>
  <!--<ion-searchbar (ionInput)="getArticle($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>-->

  <ion-list>
    <ion-item *ngFor="let prod of product">
       <!-- <a [routerLink]="['/tool/', tool.id]" >{{ prod }}</a>-->
        {{prod}}
    </ion-item>
  </ion-list>

   <!-- <ul>
        <li *ngFor = "let tool of tools">
            <a [routerLink]="['/tool/', tool.id]" >{{tool.name}}</a>
        </li>
    </ul>-->
  <!--<ion-list>
    <ion-item *ngFor="let item of products">
      {{item.Description}}
    </ion-item>
  </ion-list>-->


</ion-content>
