<ion-header>
  <ion-toolbar>   
  <ion-buttons>
  <ion-menu-button></ion-menu-button>
  <ion-title>HTC Product List </ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="titleicon">
  <img src="assets/images/logo.png" width="150px" />
</div>
<ion-content padding>
   <ion-grid>
    <!-- <ion-row>
      <ion-col size="5">
        <strong>Omschrijving</strong>
      </ion-col>
      <ion-col>
        {{data.description}}<ion-icon name="trash" (click)="removeKey('name')"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <strong>Specificaties</strong>
      </ion-col>
      <ion-col>
        {{data.specification}}<ion-icon name="trash" (click)="removeKey('phone')"></ion-icon>
      </ion-col>
    </ion-row>
     <ion-row>
       <ion-col size="5">
         <strong>Artikelnummer</strong>
       </ion-col>
       <ion-col>
         {{data.productnr}}<ion-icon name="trash" (click)="removeKey('phone')"></ion-icon>
       </ion-col>
     </ion-row>-->
    <ion-row>
      <ion-col>
        <!--<strong>JSON Object</strong><ion-icon name="trash" (click)="removeKey('offices')"></ion-icon>-->
        <ion-card *ngFor="let item of data.offices; let i = index">
          <ion-card-header>
            <div class="info">
              <p><strong>Prijs</strong>: {{item.price}}</p>
            </div>
            <ion-card-title>Product {{i+1}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]='item.image'/>
            <p><strong>Omschrijving</strong>: {{item.description}}</p>
            <p><strong>Specificaties</strong>: {{item.specification}}</p>
            <p><strong>Artikelnummer</strong>: {{item.productnr}}</p>
            <div class="delivery">
              <p><strong>Levertijd (werkdagen) </strong>: {{item.time}}</p>
              <p><strong>Op voorraad </strong>: {{item.stock}}</p>
              <ion-button class ="order" color="light">Voeg toe aan winkelmandje</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--
  <ion-button size="small" (click)="driverUsed()">Get Storage Driver Used</ion-button>
  <ion-button size="small" (click)="traverseKeys()">Loop through All Stored Keys</ion-button>
  <ion-button size="small" (click)="listKeys()">Get Stored Keys</ion-button>
  <ion-button size="small" (click)="getKeyLength()">Get Length Stored Keys</ion-button>-->


</ion-content>
