<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Product Toevoegen</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="titleicon">
  <img src="assets/images/logo.png" width="150px" />
</div>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter ProductID" [(ngModel)]="productnr"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Price" [(ngModel)]="price"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Description" [(ngModel)]="description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Specification" [(ngModel)]="specification"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Time" [(ngModel)]="time"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Stock" [(ngModel)]="stock"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Image" [(ngModel)]="image"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="CreateRecord()" [disabled]="!productnr || !price || !description || !specification || !time || !stock">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Product Toevoegen
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
